<!DOCTYPE HTML>
<html>

<head>
    <title>Homework_11</title>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='../css/gallery.css'>
</head>

<body>
    <div class='gallery' id='gallery1'>
        <div class="display display_size" id="display"></div>
        <div class="display2 display_size" id="display2"></div>
        <div class="button_wrap">
            <button class="button">button</button>
        </div>
    </div>
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/settings.js"></script>
    <script src="../scripts/data.js"></script>
    <script src="../scripts/component.js"></script>
    <script src="../scripts/gallery.js"></script>
    <script>
        var gl = new Gallery("#gallery1");
    </script>
</body>

</html>