<!DOCTYPE HTML>
<html>

<head>
    <title>gallery_css homework </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/gallery_css.css">
</head>

<body>
<div class="gallery" id="gallery1">
    <button class="preview__arrow preview__arrow_prev" title="предыдущий слайд">&lt;</button>
    <div class="picture"><img src="../images/gallery/0.PNG" class="picture__image" alt="Image 0" title="1 слайд"></div>
    <div class="picture"><img src="../images/gallery/1.PNG" class="picture__image" alt="Image 1" title="2 слайд"></div>
    <div class="picture"><img src="../images/gallery/2.PNG" class="picture__image" alt="Image 2" title="3 слайд"></div>
    <div class="picture"><img src="../images/gallery/3.PNG" class="picture__image" alt="Image 3" title="4 слайд"></div>
    <div class="picture"><img src="../images/gallery/4.PNG" class="picture__image" alt="Image 4" title="5 слайд"></div>
    <div class="picture"><img src="../images/gallery/5.PNG" class="picture__image" alt="Image 5" title="6 слайд"></div>
    <button class="preview__arrow preview__arrow_next" title="следующий слайд">&gt;</button>
    <div class="buttons_group">
        <ul>
            <li>
                <button class="circles" title="1 слайд"></button>
            </li>
            <li>
                <button class="circles" title="2 слайд"></button>
            </li>
            <li>
                <button class="circles" title="3 слайд"></button>
            </li>
            <li>
                <button class="circles" title="4 слайд"></button>
            </li>
            <li>
                <button class="circles" title="5 слайд"></button>
            </li>
            <li>
                <button class="circles" title="6 слайд"></button>
            </li>
        </ul>

    </div>
</div>
<script src="../scripts/jquery-3.3.1.min.js"></script>
<script src="../scripts/component.js"></script>
<script src="../scripts/gallery_css.js"></script>
<script>
	var gl = new Gallery('#gallery1');
</script>
</body>

</html>
