<!DOCTYPE HTML>
<html>

<head>
    <title></title>
    <meta charset='UTF-8'>
    <link rel='stylesheet' href='../css/menu.css'>
</head>

<body>
    <div class="b-container">
        <div class='b-container__menu'>
            <ul class='b-menu' id="menu1">
                <li class='b-menu__item'><a href='#' class='b-menu__link'>Файл</a>
                    <ul class='b-submenu'>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Создать</a></li>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Открыть</a></li>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Сохранить</a></li>
                    </ul>
                </li>
                <li class='b-menu__item'><a href='#' class='b-menu__link'>Правка</a></li>
                <li class='b-menu__item'><a href='#' class='b-menu__link'>Вид</a>
                    <ul class='b-submenu'>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Список</a></li>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Таблица</a></li>
                        <li class='b-submenu__item'><a href='#' class='b-submenu__link'>Плиточка</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/menu.js"></script>
    <script>
        // Объект
        var menu1 = new Menu("#menu1");
        console.log("объект:", menu1);
    </script>
</body>

</html>