* {
	box-sizing : border-box;
	padding    : 0;
	}

div {
	width                 : 100px;
	height                : 50px;
	margin                : 0 auto;
	border                : 1px solid rgba(155, 22, 155, 0.315);
	border-radius         : 20px;
	-webkit-border-radius : 20px;
	-moz-border-radius    : 20px;
	-ms-border-radius     : 20px;
	-o-border-radius      : 20px;
	}

.wrapper {
	width   : 70%;
	margin  : 0 auto;
	height  : 65vh;
	z-index : -20;
	}

.wrapper_inner {
	width            : 100%;
	margin           : 0 auto;
	height           : 100%;
	background-color : #a5b4223f;
	}

.top {
	width            : 300px;
	height           : 80px;
	background-color : rgba(119, 104, 253, 0.171);
	display          : flex;
	flex-direction   : row;
	flex-wrap        : nowrap;
	justify-content  : space-around;
	align-items      : flex-end;
	}

.two_lvl {
	position         : absolute;
	margin-top       : 120px;
	width            : 120px;
	height           : 60px;
	background-color : #15ff0023;
	display          : flex;
	flex-direction   : row;
	flex-wrap        : nowrap;
	justify-content  : space-around;
	align-items      : flex-end;
	}

.left {
	left : 35%;
	}

.right {
	right : 35%;
	}

.three_lvl {
	position         : fixed;
	margin-top       : 100px;
	width            : 80px;
	height           : 40px;
	background-color : #4e4e4e57;
	}

.right_one {
	right            : 40%;
	background-color : #64bbbe98;
	}

.right_two {
	right            : 34%;
	background-color : #64bbbe98;
	}

.right_three {
	right            : 28%;
	background-color : #64bbbe98;
	}

.right_four {
	right            : 22%;
	background-color : #64bbbe98;
	}

/* ***************************** */

.left_one {
	left             : 32%;
	display          : flex;
	flex-direction   : row;
	flex-wrap        : nowrap;
	justify-content  : space-around;
	align-items      : flex-end;
	background-color : #dee67291;
	}

.left_two {
	background-color : #dee67291;
	left             : 39%;
	}

/* ***************************** */

.four_lvl {
	position         : fixed;
	margin-top       : 90px;
	width            : 75px;
	height           : 35px;
	background-color : #8509961e;
	}

.four_one {
	left             : 30%;
	background-color : #6862bd50;
	}

.four_left {
	left : 37%;
	}

.four_right {
	left            : 43%;
	display         : flex;
	flex-direction  : row;
	flex-wrap       : nowrap;
	justify-content : space-around;
	align-items     : flex-end;
	}

.five_one {
	position         : fixed;
	margin-top       : 90px;
	width            : 75px;
	height           : 35px;
	background-color : #14747446;
	left             : 43%;
	}

.showInfo {
	color            : rgb(252, 255, 91);
	margin           : 0 auto;
	text-align       : center;
	font-size        : 30px;
	height           : 45px;
	width            : 100%;
	background-color : #368f8f;
	bottom           : 10px;
	border           : none;
	}

.selected-siblings {
	border : 3px double red;
	}

.selected-parent {
	background-color : blueviolet;
	}

.selected-aftparent {
	background-color : rgba(226, 141, 30, 0.596);
	}

.selected-parents {
	border : 3px dotted #001aff;
	}

.selected-closest {
	border : 3px solid #167204d2;
	}

.selected-children {
	background-color : #10861a;
	}

.selected-next {
	background-color : #c4a727b4;
	}

.selected-prev {
	background-color : #2766c4ab;
	}

.selected-nextAll {
	background-color : #046164;
	}

.selected-prevAll {
	background-color : #07abb1;
	}

.selected-nextUntil {
	background-color : #0eb14ca4;
	}

.selected-prevUntil {
	background-color : #6ab10e8a;
	}

.radio__buttons {
	height : 120px;
	width  : 100%;
	}

.choise__method {
	height      : 12px;
	margin-left : 20px;
	}

@media screen and (max-width : 1350px) {
	.wrapper {
		width  : 80%;
		height : 60vh;
		}
	
	.two_lvl {
		width  : 100px;
		height : 50px;
		}
	
	.left {
		left : 27%;
		}
	
	.right {
		right : 27%;
		}
	
	/* ********************* */
	.three_lvl {
		width  : 70px;
		height : 35px;
		}
	
	.right_one {
		right : 37%;
		}
	
	.right_two {
		right : 30%;
		}
	
	.right_three {
		right : 23%;
		}
	
	.right_four {
		right : 16%;
		}
	
	/* ********************* */
	.left_one {
		left : 23%;
		}
	
	.left_two {
		left : 33%;
		}
	
	/* ********************* */
	.four_lvl {
		width  : 65px;
		height : 30px;
		}
	
	.four_one {
		left : 21%;
		}
	
	.four_left {
		left : 30%;
		}
	
	.four_right {
		left : 37%;
		}
	
	/* ********************* */
	.five_one {
		left   : 38%;
		width  : 65px;
		height : 30px;
		}
	}
