<!DOCTYPE html>
<html>

<head>
    <title>цифровые часы</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/clock.css">
</head>

<body>
    <div class="container">
        <ul class="clock" id="clock1">
            <li class="hours"></li>
            <li class="point">:</li>
            <li class="min"></li>
            <li class="point">:</li>
            <li class="sec"></li>
        </ul>
        <div class="test">

        </div>
    </div> 
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/component.js"></script>
    <script src="../scripts/clock.js"></script>
    <script>
        var cl = new Clock("#clock1");
    </script>
</body>

</html>
