<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/material-design-iconic-font.css">
    <title>Gigaspace</title>
</head>

<body>
    <!-- убрать после окончания этот div  -->
    <div class="temp"></div>

    <div class="section__logo">
        <div class="wrapper">
            <div class="block__logo">
                <div class="logo__image">
                    <img src="../images/logo.png" alt="logo" srcset="">
                </div>
                <div class="logo__text_wrapper">
                    <div class="logo__name">
                        <a href="#" class="logo__link"><span class="logo__name_start">Giga</span><span class="logo__name_end">Space</span></a>

                    </div>
                    <div class="logo__text">
                        <p>We provide the power for your computer system</p>
                    </div>
                </div>
            </div>
            <div class="phone__service">
                <a href="tel:+55586512476 " class="logo__link">Customer service: 555 865 1247 6</a>
            </div>
        </div>

    </div>
    <div class="line__over_menu"></div>
    <nav class="section__menu">
        <div class="wrapper">
            <ul class="menu">
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">HOME</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">HARDWARE</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">SOFTWARE</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">ENTERTAINMENT</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">PC/NOTEBOOKS</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">SERVER/NETWORK</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="#" class="menu__link">
                        <span class="menu__title">CONTACT</span>
                    </a>
                </li>
            </ul>

        </div>

    </nav>
    <div class="line__under_menu"></div>
    <div class="wrapper">
        <main>
            <section class="main_top">
                <div class="form__login">
                    <div class="over__login_block">
                        <p class="over__login_text">If you wish to save your shopping card, you will need to log in:</p>
                    </div>
                    <div class="position__form">
                        <div class="img__login">
                            <img class="img__login" src="../images/smile2.png" alt="smile" srcset="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="name" type="text" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="pass" type="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <button id="sendLogin" class="btn btn-login" type="submit">Log in</button>
                        </div>
                    </div>
                </div>
                <div class="basket__block">
                    <div class="position__basket">
                        <div class="img__basket">
                            <img src="../images/basket.png" alt="basket" srcset="">
                        </div>
                        <div class="basket__text">
                            <p class="basket__text_top">There are currently 5 items in your basket!</p>
                            <p class="basket__text_bottom">
                                <span class="basket_view">View basket</span>-
                                <span class="basket_save">Save Basket</span>-
                                <span class="basket_item_text">Last item added:</span>
                                <span class="basket_item">1x Asus GTX456 GFX Card</span>

                            </p>

                        </div>

                    </div>
                </div>
            </section>
            <section class="content">
                <!-- Left block -->
                <div class="sidebar__left">
                    <div class="search__block">
                        <div class="search__header">
                            <div class="search__header-element zmdi-search">

                            </div>
                        </div>
                        <div class="search__main">

                            <!--
				////////////////////////////////////////
				////       Начало - select Brand    ////
				////////////////////////////////////////
				-->
                            <form class="form" action="/" method="post">
                                <div class="form__select">
                                    <div class="form__select_down-arrow"> <span class='selectArrow'>&#62</span></div>
                                    <select name="select">
																				<option>Brand</option>
																				<option value="#">A4Tech</option>
																				<option value="#">Acer</option>
																				<option value="#">Acorp</option>
																				<option value="#">AMD</option>
																				<option value="#">APC</option>
																				<option value="#">ASUSTeK</option>
																				<option value="#">ATI Technologies</option>
																				<option value="#">BenQ</option>
																				<option value="#">Brother</option>
																				<option value="#">Creative</option>
																				<option value="#">Dell</option>
																				<option value="#">Hewlett-Packard</option>
																				<option value="#">Kingmax</option>
																				<option value="#">LG Electronics</option>
																				<option value="#">Logitech</option>
																				<option value="#">NVIDIA</option>
																				<option value="#">MSI</option>
																				<option value="#">Patriot Memory</option>
																				<option value="#">POWERCOM</option>
																				<option value="#">Samsung</option>
																				<option value="#">Sapphire</option>
																				<option value="#">Seagate</option>
																				<option value="#">Sony</option>
																				<option value="#">SVEN</option>
																				<option value="#">Verbatim</option>
																				<option value="#">Western Digital</option>
																				<option value="#">XEROX</option>
							</select>
                                </div>
                            </form>
                            <!--
				////////////////////////////////////////
				////        Конец - select Brand    ////
				////////////////////////////////////////
				-->
                            <!--
				////////////////////////////////////////
				////       Начало - select Poduct   ////
				////////////////////////////////////////
				-->
                            <form class="form" action="/" method="post">
                                <div class="form__select">
                                    <div class="form__select_down-arrow"> <span class='selectArrow'>&#62</span></div>
                                    <select name="select">
																				<option value="1">Poduct</option>
																				<option value="Beamers">Beamers</option>
																				<option>Computer casing</option>
																				<option>DVD / BluRay</option>
																				<option>Graphic cards</option>
																				<option>Memory</option>
																				<option>Motherboards</option>
																				<option>Data / Hard Disc Drives</option>
																				<option>Processors</option>
																				<option>Monitors</option>
																				<option>Cooling</option>
							</select>
                                </div>
                            </form>
                            <!--
////////////////////////////////////////
////        Конец - select Poduct   ////
////////////////////////////////////////
-->
                            <div class="search__btn-block">
                                <p class="search__btn_text">Search any product in our database.</p>
                                <button class="search__btn" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="section__accordion">
                        <ul class='menu_accordion' id="menu1">
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Hardware products</a>
                                <ul class='submenu '>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Создать</a></li>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Открыть</a></li>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Сохранить</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Software products</a></li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Entertainment</a>
                                <ul class='submenu '>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Список</a></li>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Таблица</a></li>
                                    <li class='accordion__item '><a href='# ' class='accordion__link '>Плиточка</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space	'><a href='#' class='accordion__link'>PC / Notebooks</a></li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Server / Networking</a></li>
                        </ul>
                    </div>

                </div>
                <!-- Right block -->
                <div class="sidebar__right">
                    <div class="main__poster">
                        <div class="main__poster-header_gradient">
                            <H3 class="main__poster-header">ASUS G51J GAMING LAPTOP</H3>
                        </div>
                        <p class="main__poster-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui libero, ornare et fermentum a, congue eu nibh. Suspendisse commodo enim vel mi scelerisque viverra. Vestibulum a lectus a eros varius congue pulvinar id lacus.
                            Duis rutrum justo sed massa varius tincidunt.</p>
                        <img class="photo_item" src="../images/notebook.png" alt="notebook">
                        <div class="main__poster_box-info"> <span class="box-info">Comes with free sleeve and Logitech Wireless Mouse!</span></div>
                        <div class="main__poster-cell">
                            <img class="poster_cell-img" src="../images/cell.png" alt="cell">
                            <div class="poster_cell-text">&euro; <span class="cost">1099</span>&sbquo;&ndash;</div>
                        </div>
                        <div class="poster_btn">
                            <button class="btn_view  view__product" type="submit">View product</button>
                            <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>