<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/png">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/material-design-iconic-font.css">
    <title>Gigaspace</title>
</head>
hi

<body>
    <div id="init1">
        <div class="section__logo">
            <div class="wrapper">
                <div class="block__logo">
                    <div class="logo__image">
                    </div>
                    <div class="logo__text_wrapper">
                        <div class="logo__name">
                            <a href="#" class="logo__link"><span class="logo__name_start">Giga</span><span class="logo__name_end">Space</span></a>
                        </div>
                        <div class="logo__text">
                            <p>We provide the power for your computer system</p>
                        </div>
                    </div>
                </div>
                <div class="phone__service">
                    <a href="tel:+55586512476 " class="logo__link">Customer service: 555 865 1247 6</a>
                </div>
            </div>
        </div>
        <div class="line__over_menu"></div>

        <nav class="section__menu">
            <div class="wrapper">
                <div class="menuToggle">
                    <span class="menuToggle__line"></span>
                </div>
                <div class="navbar__button-basket"> <i class="zmdi zmdi-shopping-basket  zmdi-hc-2x"></i> </div>
                <div class="navbar__button-search"><i class="zmdi zmdi-search zmdi-hc-2x"></i></div>
                <div class="navbar__button-login"><i class="zmdi zmdi-sign-in zmdi-hc-2x"></i></div>
                <ul class="menu">
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">HOME</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">HARDWARE</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">SOFTWARE</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">ENTERTAINMENT</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">PC/NOTEBOOKS</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">SERVER/NETWORK</span>
                        </a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            <span class="menu__title">CONTACT</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="line__under_menu"></div>
        <div class="wrapper">
            <main>
                <section class="main_top">
                    <div class="modal__background"></div>

                    <div class="form__login">
                        <span class="close close__position-login">&times;</span>
                        <form class="login" action="/" method="post">
                            <div class="over__login_block">
                                <p class="over__login_text">If you wish to save your shopping card, you will need to log in:</p>
                            </div>
                            <div class="position__form">
                                <div class="img__login">
                                    <!-- //TODO: изменить картинку на фон -->
                                    <img class="img__login" src="../images/smile2.png" alt="smile" srcset="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="name" type="text" placeholder="Username" autocomplete="username" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="pass" type="password" placeholder="Password" autocomplete="current-password" required>
                                </div>
                                <div class="form-group">
                                    <button id="sendLogin" class="btn btn-login" type="submit">Log in</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="basket__block">
                        <span class="close close__position-basket">&times;</span>
                        <div class="position__basket">
                            <div class="img__basket">
                                <!-- //TODO: изменить картинку на фон -->
                                <img src="../images/basket.png" alt="basket" srcset="">
                            </div>
                            <div class="basket__text">
                                <p class="basket__text_top">There are currently 5 items in your basket!</p>
                                <p class="basket__text_bottom">
                                    <span class="basket_view">View basket</span>-
                                    <span class="basket_save">Save Basket</span>-
                                    <span class="basket_item_text">Last item added:</span>
                                    <span class="basket_item">1x Asus GTX456 GFX Card</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!--
				/////////////////////////////////////////////////////
				////          Начало - main content              ////
				/////////////////////////////////////////////////////
				-->
                <section class="content">
                    <!-- Left block -->
                    <div class="search__block">
                        <span class="close close__position-search">&times;</span>
                        <div class="search__header">
                            <div class="search__header-element zmdi-search">
                            </div>
                        </div>
                        <div class="search__main">
                            <!--
				////////////////////////////////////////
				////       Начало - select Brand    ////
				////////////////////////////////////////
				-->
                            <form class="form" action="/" method="post">
                                <div class="form__select">
                                    <div class="form__select_down-arrow"> <span class='selectArrow'>&#62;</span></div>
                                    <select name="select">
																				<option>Brand</option>
																				<option value="#">A4Tech</option>
																				<option value="#">Acer</option>
																				<option value="#">Acorp</option>
																				<option value="#">AMD</option>
																				<option value="#">APC</option>
																				<option value="#">ASUSTeK</option>
																				<option value="#">ATI Technologies</option>
																				<option value="#">BenQ</option>
																				<option value="#">Brother</option>
																				<option value="#">Creative</option>
																				<option value="#">Dell</option>
																				<option value="#">Hewlett-Packard</option>
																				<option value="#">Kingmax</option>
																				<option value="#">LG Electronics</option>
																				<option value="#">Logitech</option>
																				<option value="#">NVIDIA</option>
																				<option value="#">MSI</option>
																				<option value="#">Patriot Memory</option>
																				<option value="#">POWERCOM</option>
																				<option value="#">Samsung</option>
																				<option value="#">Sapphire</option>
																				<option value="#">Seagate</option>
																				<option value="#">Sony</option>
																				<option value="#">SVEN</option>
																				<option value="#">Verbatim</option>
																				<option value="#">Western Digital</option>
																				<option value="#">XEROX</option>
							</select>
                                </div>
                            </form>
                            <!--
				////////////////////////////////////////
				////        Конец - select Brand    ////
				////////////////////////////////////////
				-->
                            <!--
				////////////////////////////////////////
				////       Начало - select Poduct   ////
				////////////////////////////////////////
				-->
                            <form class="form" action="/" method="post">
                                <div class="form__select">
                                    <div class="form__select_down-arrow"> <span class='selectArrow'>&#62;</span></div>
                                    <select name="select">
																				<option value="1">Poduct</option>
																				<option value="Beamers">Beamers</option>
																				<option>Computer casing</option>
																				<option>DVD / BluRay</option>
																				<option>Graphic cards</option>
																				<option>Memory</option>
																				<option>Motherboards</option>
																				<option>Data / Hard Disc Drives</option>
																				<option>Processors</option>
																				<option>Monitors</option>
																				<option>Cooling</option>
							</select>
                                </div>
                            </form>
                            <!--
////////////////////////////////////////
////        Конец - select Poduct   ////
////////////////////////////////////////
-->
                            <div class="search__btn-block">
                                <p class="search__btn_text">Search any product in our database.</p>
                                <button class="search__btn" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                    <!--
////////////////////////////////////////
////       Start accordion   ////
////////////////////////////////////////
-->
                    <div class="section__accordion">
                        <ul class='menu_accordion' id="menu1">
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Hardware products</a>
                                <ul class='submenu'>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Beamers</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Computer casing</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>DVD / BluRay</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Graphic cards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Memory</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Motherboards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Data / Hard Disc Drives</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Processors</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Monitors</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Cooling</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Software products</a>
                                <ul class='submenu'>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Graphic cards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Memory</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Data / Hard Disc Drives</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Entertainment</a>
                                <ul class='submenu'>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Graphic cards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Memory</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Data / Hard Disc Drives</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>PC / Notebooks</a>
                                <ul class='submenu'>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Graphic cards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Memory</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                </ul>
                            </li>
                            <li class='accordion__item accordion__item-space'><a href='#' class='accordion__link'>Server / Networking</a>
                                <ul class='submenu'>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Memory</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Data / Hard Disc Drives</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Graphic cards</a></li>
                                    <li class='submenu__item'><a href='#' class='submenu__link'>Lorem ipsum</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--
////////////////////////////////////////
////          end accordion         ////
////////////////////////////////////////
-->
                    <!--
////////////////////////////////////////
////      Start  Right block        ////
////////////////////////////////////////
-->
                    <div class="sidebar__right">
                        <!-- Poster block -->
                        <div class="main__poster">
                            <div class="main__poster-header_gradient">
                                <H3 class="main__poster-header">ASUS G51J GAMING LAPTOP</H3>
                            </div>
                            <p class="main__poster-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dui libero, ornare et fermentum a, congue eu nibh. Suspendisse commodo enim vel mi scelerisque viverra. Vestibulum a lectus a eros varius congue pulvinar id
                                lacus. Duis rutrum justo sed massa varius tincidunt.</p>
                            <img class="photo_item" src="../images/notebook.png" alt="notebook">
                            <div class="poster__sale">
                                <div class="main__poster_box-info"> <span class="box-info">Comes with free sleeve and Logitech Wireless Mouse!</span></div>
                                <div class="main__poster-sale">
                                    <div class="poster_sale-text">&euro;<span class="cost"> 1099</span>&sbquo;&ndash;</div>
                                </div>
                                <div class="poster_btn">
                                    <button class="btn_view  view__product" type="submit">View product</button>
                                    <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <!-- Cards -->
                        <div class="goods">
                            <!-- start card__item -->
                            <div class="card__item">
                                <div class="card__header">
                                    <H3 class="card__name-header">Apple iPod Nano</H3>
                                </div>
                                <div class="item__image">
                                    <img class="item__image-content" src="../images/ipod_nano.png" alt="">
                                </div>
                                <div class="item__info">
                                    <H3 class="info__name-footer">Apple iPod Nano 8GB</H3>
                                    <span class="card__info-cost">&euro; 159,-</span>
                                    <p class="info___description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula ante a elementum.</p>
                                    <div class="card_btn clearfix">
                                        <button class="btn_view  view__product" type="submit">View product</button>
                                        <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                <!-- end card__item -->
                            </div>
                            <!-- start card__item -->
                            <div class="card__item">
                                <div class="card__header">
                                    <H3 class="card__name-header">Apple iPod Nano</H3>
                                </div>
                                <div class="item__image">
                                    <img class="item__image-content" src="../images/ipod_nano.png" alt="">
                                </div>
                                <div class="item__info">
                                    <H3 class="info__name-footer">Apple iPod Nano 8GB</H3>
                                    <span class="card__info-cost">&euro; 159,-</span>
                                    <p class="info___description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula ante a elementum.</p>
                                    <div class="card_btn clearfix">
                                        <button class="btn_view  view__product" type="submit">View product</button>
                                        <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                <!-- end card__item -->
                            </div>
                            <!-- start card__item -->
                            <div class="card__item">
                                <div class="card__header">
                                    <H3 class="card__name-header">Apple iPod Nano</H3>
                                </div>
                                <div class="item__image">
                                    <img class="item__image-content" src="../images/ipod_nano.png" alt="">
                                </div>
                                <div class="item__info">
                                    <H3 class="info__name-footer">Apple iPod Nano 8GB</H3>
                                    <span class="card__info-cost">&euro; 159,-</span>
                                    <p class="info___description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula ante a elementum.</p>
                                    <div class="card_btn clearfix">
                                        <button class="btn_view  view__product" type="submit">View product</button>
                                        <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                <!-- end card__item -->
                            </div>
                            <!-- start card__item -->
                            <div class="card__item ">
                                <div class="card__header">
                                    <H3 class="card__name-header">Apple iPod Nano</H3>
                                </div>
                                <div class="item__image">
                                    <img class="item__image-content" src="../images/ipod_nano.png" alt="">
                                </div>
                                <div class="item__info">
                                    <H3 class="info__name-footer">Apple iPod Nano 8GB</H3>
                                    <span class="card__info-cost">&euro; 159,-</span>
                                    <p class="info___description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dignissim vehicula ante a elementum.</p>
                                    <div class="card_btn clearfix">
                                        <button class="btn_view  view__product" type="submit">View product</button>
                                        <button class="btn_view  add__tocart" type="submit">Add to cart</button>
                                    </div>
                                </div>
                                <!-- end card__item -->
                            </div>
                        </div>
                    </div>
                    <!--
////////////////////////////////////////
////      End    Right block        ////
////////////////////////////////////////
-->
                </section>
            </main>
            <div class="clearfix"></div>
            <!--
				/////////////////////////////////////////////////////
				////                 start - footer             ////
				/////////////////////////////////////////////////////
				-->
            <footer>
                <div class="bottom__block">
                    <div class="footer__links">
                        <ul class="links__quicklinks">
                            <h4 class="footer__links-header">Quicklinks</h4>
                            <li class="footer__item"><a href="#"><span class="footer__link">Hardware products</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Software products</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Entertainment</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">PC/Notebooks</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Server/Networking</span></a></li>
                        </ul>
                        <!-- <span class="vertical_line"></span> -->
                        <ul class="links__hot-products">
                            <h4 class="footer__links-header">Hot products</h4>
                            <li class="footer__item"><a href="#"><span class="footer__link">Asus Nvidia GTX 456</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Asus P6T SE MB</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Corsair 6GB Ram Module</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Coolermaster ZX1000</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">ATI HD 5970</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Coolermaster Sileo 500</span></a></li>
                            <li class="footer__item"><a href="#"><span class="footer__link">Logitech Z2300</span></a></li>
                        </ul>
                    </div>
                    <div class="basket__informer">
                        <h4 class="basket__informer-header">Latest products added to your basket</h4>
                        <div class="basket__informer-item">
                            <span class="basket__informer_product-name">Asus ENGTX460 DirectCU TOP/2DI/1024MD5</span>
                            <span class="basket__informer_product-cost">€ 279,-</span>
                        </div>
                        <div class="basket__informer-item">
                            <span class="basket__informer_product-name">Asus ENGTX460 DirectCU TOP/2DI/1024MD5</span>
                            <span class="basket__informer_product-cost">€ 279,-</span>
                        </div>
                        <div class="basket__informer-item">
                            <span class="basket__informer_product-name">Asus ENGTX460 DirectCU TOP/2DI/1024MD5</span>
                            <span class="basket__informer_product-cost">€ 279,-</span>
                        </div>
                    </div>
                </div>
                <div class="copy-development clearfix">
                    <span class="copyright">Copyright 2010 GigaSpace Solutions. All rights reserved.</span>
                    <span class="development">Design & Development by gerbengeeraerts.</span>
                </div>
            </footer>
        </div>
    </div>
    <!-- ///// end init page ///// -->
    <script src="../scripts/jquery-3.3.1.min.js"></script>
    <script src="../scripts/component.js"></script>
    <script src="../scripts/script.js"></script>
    <script>
        var g1 = new Giga("#init1");
    </script>
</body>

</html>