<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <?=$file?> -
            <?=company?>
    </title>
</head>

<body>

    <p>
        <?php
		if($file == "home"){
			include("content/banner.html");
		}
		?>
    </p>
    <a href="index.php?file=home">Главная</a>
    <a href="index.php?file=services">Услуги</a>
    <a href="index.php?file=contacts">Контакты</a>
    <p>
        <?php include("content/$file.html"); ?>
    </p>


</body>

</html>