@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "MyriadPro bold";
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot");
    src: url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.woff") format("woff"), url("../fonts/MyriadPro/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "MyriadPro - SemiBold";
    src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"), url("../fonts/MyriadPro/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "MyriadPro Regular";
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Material-Design-Iconic-Font';
    src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'), url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'), url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.temp {
    width: 100%;
    /* height: 1px; */
    outline: 1px dotted white;
}

body {
    /* background: url(../Gigaspace_free_psd.jpg) center top no-repeat; */
    background-image: url("../images/BG_mini.png");
    /* background-color: #f0f0f0; */
    box-sizing: border-box;
    /* opacity: 0.5; */
}

button:active,
input:active,
input:focus,
button:focus,
select:focus,
select:active {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    /* outline: 5px dotted greenyellow; */
}


/*=============================================
=            Section comment block            =
=============================================*/

.section__logo {
    /* Style for "Shape 1" */
    width: 100%;
    height: 110px;
    background: linear-gradient(to top, #151515 0%, #343434 100%);
}

.block__logo {
    width: 320px;
    height: 53px;
    margin: 30px auto;
    /* outline: 1px solid #c0c0c0; */
    float: left;
}

.logo__image {
    float: left;
    width: 46px;
    height: 51px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
}

.logo__text_wrapper {
    float: left;
    margin: 8px 0 0 15px;
    display: inline;
}

.logo__name {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    font-family: "MyriadPro - SemiBold";
    font-size: 30px;
    font-weight: 400;
}

.logo__name_start {
    color: #CFCFCF;
}

.logo__name_end {
    color: #FFA73D;
}

.logo__text {
    margin-top: 1px;
    margin-left: 2px;
    height: 12px;
    color: #565656;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
}

.phone__service {
    margin-top: 49px;
    margin-right: -4px;
    float: right;
    width: 170px;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
}

.logo__link {
    text-decoration: none;
    color: #606060;
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            Section comment block            =
=============================================*/

.line__over_menu {
    width: 100%;
    height: 1px;
    background-color: rgba(51, 51, 51, 0.15);
}

.section__menu {
    height: 60px;
    background: linear-gradient(to top, #f7941d 0%, #f7941d 24%, #f8bb49 76%, #f8bb49 100%);
}

.menu {
    padding: 20px 0;
    width: 100%;
}

.menu__item {
    display: inline;
}

.menu__link {
    padding: 8px 10px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    color: #333333;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu__link:hover {
    color: #ff9d00;
    background-color: #151515;
}

.menu li {
    margin-left: -12px;
}

.menu li+li {
    margin-left: 30px;
}

.menu__title {
    /* text-align: center; */
}

.line__under_menu {
    width: 100%;
    height: 1px;
    background-color: rgba(51, 51, 51, 0.6);
}


/*=====  End of Section comment block  ======*/


/*=============================================
=            main section            =
=============================================*/

.main_top {
    height: 86px;
}


/*----------  form login  ----------*/

.form__login {
    display: inline-block;
    width: 55%;
    padding-top: 20px;
    height: 66px;
}

.over__login_block {
    margin-left: 2px;
    width: 309px;
    height: 12px;
    color: rgba(38, 38, 38, 0.25);
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
}

.position__form {
    display: flex;
    margin-top: 12px;
}

.img__login {
    display: inline-block;
    height: 28px;
    margin-right: 3px;
}

.form-group {
    display: inline-block;
    margin-left: 9px;
}

.form-control {
    padding: 0 0 0 10px;
    color: rgba(83, 83, 83, 0.747);
    width: 178px;
    height: 24px;
    border: 1px solid #dddddd;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
}

.btn-login {
    margin-top: -2px;
    width: 51px;
    height: 29px;
    border: 1px solid #000000;
    color: #C07601;
    background-image: linear-gradient(to top, #222222 0%, #000000 49%, #383838 100%);
    color: rgba(255, 157, 0, 0.75);
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}


/*----------  basket  block  ----------*/

.basket__block {
    width: 44%;
    display: inline-block;
    padding-top: 20px;
    height: 66px;
}

.position__basket {
    display: flex;
    margin-top: 10px;
}

.img__basket {
    display: inline-block;
    height: 28px;
    margin-left: 30px;
}

.basket__text {
    margin-top: 1px;
    margin-left: 10px;
    width: 450px;
    font-weight: 900;
    font-family: "MyriadPro - SemiBold";
}

.basket__text_top {
    color: #ff9d00;
    font-size: 12px;
    font-weight: 400;
}

.basket__text_bottom {
    margin-top: 5px;
    color: #c0c0c0;
    font-size: 12px;
}

.basket_save {
    font-weight: 400;
    font-size: 12px;
}

.basket_save:hover,
.basket_view:hover {
    color: #383838;
    cursor: pointer;
    padding: 1px 0;
}

.basket_item_text,
.basket_item {
    font-weight: 400;
    font-size: 11px;
}


/*----------  content  ----------*/

.content {
    height: 970px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    padding: 11px 10px;
}


/*----------  Left block  ----------*/

.sidebar__left {
    float: left;
    height: 100%;
    width: 310px;
}


/*=============================================
=            search__block           =
=============================================*/

.search__block {
    height: 180px;
    width: 308px;
    margin-bottom: 15px;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
}

.search__header {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to top, #000000 0%, #45494d 100%);
    border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    -ms-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    position: relative;
}

.search__header-element:before {
    content: '\f1bf';
    color: rgb(236, 236, 236);
    display: inline-block;
    margin-top: 7px;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

.search__header-element {
    left: 10px;
    width: 35px;
    height: 35px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    background-color: #333333;
    background-image: linear-gradient(to top, #f7841d 0%, #f7841d 24%, #f8d549 76%, #f8d549 100%);
    position: absolute;
    background-image: url(../images/search.svg) no-repeat cover;
    font-family: 'Material-Design-Iconic-Font';
    font-size: 22px;
    text-align: center;
}

.search__main {
    border: 1px solid #cccccc8f;
    border-top: 1px solid #000;
    padding: 0 8px 12px 10px;
    /* position: relative; */
}


/*=============================================
=           form__select          =
=============================================*/

.form {
    width: 100%;
    height: 30px;
    margin-top: 14px;
    border: 1px solid #cccccc;
    border-right: none;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
}

.form__select {
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
    height: 100%;
    width: 100%;
    position: relative;
}

.form__select_down-arrow {
    height: 30px;
    width: 35px;
    position: absolute;
    right: 0;
    top: -1px;
    text-align: center;
    border: 1px solid #d88119;
    background-image: linear-gradient(to top, #f7941d 0%, #f7941d 24%, #f8bb49 76%, #f8bb49 100%);
    pointer-events: none;
}

.selectArrow {
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    margin-top: 8px;
    font-family: "MyriadPro";
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.form__select select {
    color: #33333385;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 700;
}

.form__select select:hover {
    cursor: pointer;
}

.search__btn-block {
    height: 30px;
    width: 100%;
    margin-top: 14px;
    font-family: "MyriadPro";
}

.search__btn_text {
    margin-top: 10px;
    display: inline-block;
    color: rgba(51, 51, 51, 0.24);
    font-size: 12px;
    font-weight: 400;
}

.search__btn {
    float: right;
    color: #ffffff;
    font-size: 14px;
    font-family: "MyriadPro";
    width: 81px;
    height: 100%;
    border: 1px solid #d88119;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to top, #f7941d 0%, #f7941d 24%, #f8bb49 76%, #f8bb49 100%);
}

.search__btn:hover {
    cursor: pointer;
}


/*=============================================
=            menu__accordion            =
=============================================*/

.menu_accordion {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 15px;
}

.accordion__item-space {
    margin-bottom: 9px;
}

.accordion__item {
    /* background: none repeat scroll 0 0 #EEEEEE; */
    width: 308px;
    height: 41px;
    border: 1.5px solid #cccccc98;
    background-color: #efefef;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.accordion__link {
    margin: 10px 0 0 10px;
    display: inline-block;
    padding: 3px 5px;
    text-decoration: none;
    color: #333333;
    font-family: "MyriadPro - SemiBold";
    font-size: 14px;
    font-weight: 400;
}

.submenu {
    background: none repeat scroll 0 0 #DDDDDD;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.accordion__item:hover {
    /* background: none repeat scroll 0 0 #ADD8E6; */
    background-color: #d3d2d2a1;
    cursor: pointer;
}


/*=====  End of menu__accordion  ======*/


/*----------  Right block  ----------*/

.sidebar__right {
    float: right;
    height: 100%;
    width: 620px;
    outline: 1px dotted red;
}

.main__poster {
    width: 100.1%;
    height: 350px;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    border: 5px solid #000000;
    background: linear-gradient(to top, #000000 0%, #1E1E1E 50%, #303030 100%);
}

.main__poster-header_gradient {
    margin: 21px 0 5px 28px;
    display: inline-block;
    /* background: linear-gradient(0deg, #dd7c06 0%, #dd7c06 5%, #fdbd6e 100%); */
    /* background: linear-gradient(180deg, #9acd5a, #15b18042); */
}

.main__poster-header {
    display: inline-block;
    color: #FFAD48;
    background: #2B2B2B;
    background-clip: text;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
    font-family: "MyriadPro - SemiBold";
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
}

.main__poster-paragraph {
    display: inline-block;
    margin: 0 27px;
    color: #946314;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
    color: rgba(255, 157, 0, 0.5);
    /* letter-spacing: 0.01px; */
}

.photo_item {
    margin-top: 36px;
    margin-left: 7px;
    height: 179px;
    width: 200px;
}

.main__poster_box-info {
    float: right;
    margin-top: 82px;
    margin-right: 13px;
    width: 259px;
    height: 60px;
    background-image: linear-gradient(to top, #f7941d 0%, #f7941d 24%, #f8bb49 76%, #f8bb49 100%);
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}

.box-info {
    float: right;
    margin-top: 10px;
    width: 180px;
    height: 34px;
    color: #ffffff;
    font-family: "MyriadPro - SemiBold";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.main__poster-cell {
    display: inline-block;
    position: absolute;
}

.poster_cell-img {
    margin-top: 40px;
    margin-left: 40px;
}

.poster_cell-text {
    margin-top: -93px;
    margin-left: 63px;
    color: #F79C26;
    background-clip: text;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    font-family: "MyriadPro bold";
    font-size: 29px;
    font-weight: bold;
    line-height: 20.28px;
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
}

.poster_btn {
    /* outline: 1px solid yellowgreen; */
    display: inline-block;
    /* position: absolute; */
    float: right;
    margin-right: 12px;
    margin-top: -55px;
    width: 192px;
    /* height: 30px; */
}

.btn_view {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.view__product {
    float: left;
    height: 30px;
    width: 90px;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    background-color: #080808;
    border: 1px solid #000000;
    background-image: linear-gradient(to top, #0e0e0e 0%, #1d1d1d 27%, #444444 100%);
}

.add__tocart {
    float: right;
    height: 30px;
    width: 84px;
    font-family: "MyriadPro";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    background-color: #F7941D;
    border: 1px solid #d88119;
    background-image: linear-gradient(to top, #f7941d 0%, #f7941d 24%, #f8bb49 76%, #f8bb49 100%);
}


/*=====  End of main section  ======*/


/*=============================================
=            FOOTER            =
=============================================*/

footer {
    height: 100px;
}


/*=====  End of FOOTER  ======*/


/*=====End of Section comment block====*/


/*=====  End of FOOTER  ======*/


/*=====  End of Section comment block  ======*/